.github/**
.vscode/**
coverage/**
dist/webview.js
media/banner.svg
node_modules/**
out/**
src/**
.DS_Store
.eslintrc.cjs
.gitignore
.prettierignore
.prettierrc.json
package-lock.json
tsconfig.json
vitest.config.ts
*.log
*.tgz
*.vsix
